* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

main {
  width: 100vw;
  height: 100vh;
  background: url(./assets/fundo.svg);
}

.wholes {
  position: absolute;
  padding: 25rem 60rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10rem;
  row-gap: 5rem;
  z-index: 0;
}

.toupeira {
  height: 16.9rem;
  width: 22.3rem;
  background-image: url(./assets/toupeira6.svg);
}

#t1 {
  animation: in infinite;
  animation-duration: 700ms;
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#t2 {
  animation: in infinite;
  animation-duration: 700ms;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

#t3 {
  animation: in infinite;
  animation-duration: 700ms;
  animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

#t4 {
  animation: in infinite;
  animation-duration: 700ms;
  animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
}
#t5 {
  animation: in infinite;
  animation-duration: 700ms;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
#t6 {
  animation: in infinite;
  animation-duration: 700ms;
  animation-timing-function: ease;
}
#t7 {
  animation: in infinite;
  animation-duration: 700ms;
  animation-timing-function: ease-in;
}
#t8 {
  animation: in infinite;
  animation-duration: 700ms;
  animation-timing-function: ease-out;
}
#t9 {
  animation: in infinite;
  animation-duration: 700ms;
  animation-timing-function: ease-in-out;
}
#t10 {
  animation: in linear infinite;
  animation-duration: 700ms;
  animation-delay: 1s;
}
#t11 {
  animation: in infinite;
  animation-duration: 700ms;
  animation-timing-function: cubic-bezier(1, 0, 0.58, 1);
}
#t12 {
  animation: in infinite;
  animation-duration: 700ms;
  animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
}

@keyframes in {
  0% {
    background: url(./assets/toupeira1.svg);
  }
  20% {
    background: url(./assets/toupeira2.svg);
  }
  40% {
    background: url(./assets/toupeira3.svg);
  }
  60% {
    background: url(./assets/toupeira4.svg);
  }
  80% {
    background: url(./assets/toupeira5.svg);
  }
  100% {
    background: url(./assets/toupeira6.svg);
  }
}

@media (width < 1800px) {
  .wholes {
    padding: 25rem 20rem;
  }
}

@media (width < 1400px) {
  .wholes {
    padding: 25rem 10rem;
    column-gap: 5rem;
    row-gap: 5rem;
  }
}

@media (width < 1150px) {
  .wholes {
    padding: 25rem 5rem;
    column-gap: 3rem;
    row-gap: 3rem;
  }
}
